<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newinspections.pso">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/abc_fuel_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".newview.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SapSalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SapSalesDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DashBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SynchronizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MyInspectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MyInspectionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ViewHSESurvayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ViewFORCOURTSurvayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ViewTankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ViewNozzlesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.NewInspectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateVisible" />
        <activity
            android:name=".view.HSESurvayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FORCOURTSurvayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddTankerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddNozzlesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FullViewActivity"
            android:screenOrientation="portrait" />

        <service android:name=".utils.LogoutService" />

        <activity android:name=".newview.MacActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".newview.NewLoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".newview.NewDashboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".newview.LatestNewInspectionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".newview.NewAddTankActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".newview.NewAddNozzleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".newview.NewHSESurveyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".newview.NewForecourtActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>